*{
  margin: 0px;
  padding: 0px;
}

.bg-container{
  background: linear-gradient(180deg, #373E44 -100%, #191B1F 100%);
  box-shadow: 10px 10px 40px 10px #00000080;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: white;
}


.widget-container{
  margin: 50px 0px 50px 0px;
  width: 45%;
  background: #616161D1;
  border: 1px solid #96BEE7;
  border-radius: 27px;
  padding: 10px;
}

.widget-container1{
  margin: 50px 0px 50px 0px;
  width: 45%;
  border-radius: 27px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-widget-container{
  background: #363C43;
  box-shadow: 5.67px 5.67px 3.78px 0px #00000066;
  border-radius: 18px;
  min-height: 48%;
  max-height: 48%;
  box-sizing: border-box;
  padding: 15px 10px 15px 10px;
}

.vector-rectangles-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 55%;
}

.content-images-container{
  height: 100%;
  display: flex;
}

.tabs-container{
  background: #171717;
  box-shadow: 0px 4.96px 12.4px 2.48px #00000040 inset;
  width: 90%;
  margin-left: 15px;
  height: 60px;
  border-radius: 23px;
  padding: 5px;
  box-sizing: border-box;
}

.tab-btns-container{
  display: flex;
  color: white;
}

.content-container{
  font-family: 'Plus Jakarta Sans';
font-size: 20px;
font-weight: 400;
line-height: 25.2px;
text-align: left;
color: #969696;
margin: 20px 7px 20px 7px;
box-sizing: border-box;
overflow-y: scroll;
max-height: 100%;
}

.carousel-gallery-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-container{
  display: flex;
  height: 40px;
}

/* Scrollable container styling */
.scrollable-container {
  height: 60%; /* Fixed height */
  width: 95%;  /* Adjust width based on your design */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 15px;
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Custom Scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #333;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


